.advantages {
    overflow: hidden;
    padding-bottom: 90px;

    @media (max-width: 767px) {
      padding-bottom: 30px;
    }
  }
  .advantages-list-item {

    margin-bottom: 90px;

    @media (max-width: 991px) {
      margin-bottom: 20px;
    }

    .title {
      font-weight: 900;
      position: relative;
      padding-bottom: 10px;
      text-transform: uppercase;
      color: gray;
      border-bottom: 1px solid #cccccc;

      @media (max-width: 767px) {
        text-align: center;
      }
    }
    .title::after {
      position: absolute;
      right: 0;
      bottom: -4px;
      width: 8px;
      height: 8px;
      content: '';
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #48C309;

      @media (max-width: 767px) {
        background: transparent;
      }
    }
  }
  .advantages-list.text-lg-right .advantages-list-item .title:after {
    right: 100%;

    @media (max-width: 991px) {
      right: 0;
    }
  }
  .advantages-img {
    max-width: 250px;
    margin-bottom: 95px;
    align-items: center;
    justify-content: center;

    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
