.copyright {
  padding: 20px 0;
  background: rgba(0,0,0,0.9);
}
.copyright div a {
  padding-left: 5px;
  &:hover {
    color: #48C309;
    cursor: pointer;
  }
}
.copyright div i {
  color: #48C309;
}