.modal-header {
  color: black;
  border: none;
}
.modal-title {
  margin: 0 auto;
  font-size: 1.25em;
  font-weight: 900;
  text-transform: uppercase;
}
.modal-footer {
  border: none;
  margin: 0 auto;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: end;
  justify-content: center;
}
.modal-body .input label, .modal-body .textarea label {
  padding: 0 0 10px 15px;
}