.header-nav {
  width: 100%;
  background-color: #808080;

  @media (max-width: 767px) {
    position: relative;
  }
}
.nav {
  display: flex;
  color: white;
  padding: 0;
  justify-content: center;

  @media (max-width: 991px) {
    font-size: 0.8em;
  }
  @media (max-width: 767px) {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    background: #808080;
    max-height: 0;
  }
}

.nav>li {
  list-style: none;
  cursor: pointer;
  &:hover {
    background-color: #48C309;
  }

  @media (max-width: 767px) {
    border-top: 1px solid #262626;
  }

}
.nav li a, .nav li span {
  line-height: 50px;
  display: inline-block;
  font-size: .875em;
  padding: 0 15px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .nav li:nth-child(4) {
    display: none;
  }
}

.submenu, .nav li span {
  position: relative;
}


.nav .submenu ul {
  width: 350px;
  display: none;
  position: absolute;
  background-color: #808080;
  top: 100%;
  left: 0;
  z-index: 2;
}


.nav .submenu ul {
  @media (max-width: 767px) {
    width: 100%;
    position: relative;
    border: none;
  }
}
.nav .submenu i {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 20px;
}

@media (min-width: 768px) {

  .nav .submenu:hover > ul {
    display: block;
  }
}

.nav ul ul li {
  max-width: 300px;
  float:none;
  display:list-item;
  position: relative;

}

.header-nav .nav>li ul li a {
  font-size: .875em;
  font-weight: 500;
  line-height: 50px;
  display: block;
  text-transform: uppercase;
  &:hover {
    background-color: #48C309;
  }
}


.nav>.order-car-btn:last-child {
  &:hover {
    background-color: inherit;
  }
}
.nav .order-car-btn:last-child a {
  color: #F5F5F5;
  display: inline;
  padding: 10px;
  font-weight: 700;
  border: 2px solid #262626;
  border-radius: 20px;

  &:hover {
    background-color: #48C309;
    box-shadow: 0 0 0 6px #ccc;
  }

}

.header-nav .mob-nav {
  display: none;
  line-height: 50px;
  font-size: .875em;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 767px) {
    display: block;
  }
}

.open-nav {
  max-height: 130vh !important;
  -webkit-box-shadow: 5px 10px 15px 0 rgba(0,0,0,.25);
  box-shadow: 5px 10px 15px 0 rgba(0,0,0,.25);
}
.open-submenu {
  display: block !important;
}

.circle-down-rotate {
  transform: rotate(180deg);
}
