
  // Slider body

  .slider {
    position: relative;
  }
  .slider-title {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .slider-title .title {
    font-size: 1.875em;
    line-height: 1.625em;
    text-transform: uppercase;

    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 1.5em;
    }
    @media (max-width: 991px) {
      font-size: 1.1em;
    }

  }
  .slider-title a {
    margin-top: 60px;
    @media (max-width: 991px) {
      margin-top: 20px;
    }
  }
  .slider-title .title h1 {
    font-size: 1.5em;
    opacity: 0.85;
    margin: 0;
    padding: 10px;
    color: #fff;
    background: #48C309;

    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 1.4em;
    }
    @media (max-width: 767px) {
      font-size: 1.15em;
    }
  }
  .slider-title .title small {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    color: #fff;
    background: rgba(0,0,0,.4)
  }

  .slider-header {
    background: #48C309;
  }
  .slider-header-item {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 600px;

    @media (max-width: 767px) {
      height: 400px;
    }

    //@include media-breakpoint-up(sm) {
    //
    //    display: block;
    //}
  }

  .slider-header-item-img {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    opacity: .8;

    @media (max-width: 991px) {
      height: 100%;
    }

  }

  // Slider navigation arrows and dots

  .slider-nav {
    height: 100%;
    position: absolute;
    top: 0;
    right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;

    @media (max-width: 991px) {
      right: 30px;
    }

    @media (max-width: 767px) {
      top: initial;
      right: 0;
      bottom: 30px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      height: initial;
      text-align: center;
    }
  }
  .slider-nav button {
    line-height: 10px;
    width: 10px;
    height: 10px;
    padding: 0;
    transition: all .1s linear;
    text-align: center;
    opacity: .5;
    border: none;
    outline: none;
    background: transparent;
  }

  .slider-nav .slick-dots {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 15px 0;
      order: 1;
      counter-reset: section;

      li {
        position: relative;
        margin: 5px 0;

        @media (max-width: 767px) {
          margin: 0 10px;
        }
      }

      li:before {
        font-size: 14px;
        font-weight: 300;
        position: absolute;
        right: 100%;
        margin-right: 10px;
        padding: 4px 0;
        content: "0" counter(section);
        counter-increment: section;
        transition: all .15s linear;
        transform: translateX(15px);
        opacity: 0;
        color: white;
      }

      li button {

        font-size: 0;
        font-weight: 300;
        margin: 0;
        color: white;
        border: 2px solid white;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }

      li.slick-active button {
        background: #48C309;
        border: 2px solid black;
        opacity: 1;
      }

    @media (max-width: 767px) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 0 20px;
    }
  }

  .slider-nav .slick-arrow.slick-prev {
    order: 0;
  }
  .slider-nav .slick-arrow.slick-next {
    order: 2;
  }
  .fa-arrow-up, .fa-arrow-down {
    color: #262626;
    @media (max-width: 767px) {
      transform: rotate(270deg);
      padding-right: 5px;
    }
  }
  .fa-arrow-up:hover, .fa-arrow-down:hover {
    color: white;
  }
